[2020-01-04 02:27] clearloop opened #1 "Add Linux support"
Linux users should be the main users of `leetcode-cli`, and what embarrassed is, ~~it just supports OSX now...~~

### Reason
It caused by the decoding process about [chrome cookies][1], the `iter` field for OSX is `1003`, and for Linux is `1`, it doesn't be fixed is just because I don't have enough time to test...

### Finally

Linux will be supported at `v0.2.0`, btw, <kbd>test</kbd> and <kbd>sub

[2020-01-06 03:42] clearloop opened #2 "Tag support"
Lots of people do have plans to solve LeetCode problems,  for example, my round-1 plan is solving all easy problems, they do have orders by tag:

[code]

The question is, the raw response of `all_problems` API's data struct doesn't contain the `tag` field, so `leetcode-cil` has to add a new request fetching tags and applying them to `problems`.

It will be added to the next version.

## Programmab

[2020-01-07 02:32] clearloop opened #3 "Programmable leetcode-cli"
About **programmable leetcode-cli**, all leetcode-cli needs is an extension language runtime —— after browsing `interpreter`、`JIT`、`lang` tags in **crates.io**, finally got these thoughts:

## ~~v8~~

v8 engine is the first thought appear in my mind, writing javascript as leetcode-cli script, it's awesome, most programmers can do it!

Unfortunately,  `v8-rs` is too old to use, and some new crates

[2020-02-26 14:58] Raees678 opened #4 "C++ and C# files have incorrect extension when running leetcode edit command"
When running the command `leetcode edit` C++ files are generated with a .c extension. The same is true for C# files which also are generated with a .c extension.

[2020-02-26 15:02] Raees678 commented on #4
Pull request #5 fixes this.

[2020-02-26 15:35] #4 closed

[2020-03-18 15:14] #1 closed

[2020-03-18 15:15] #2 closed

[2020-03-18 15:15] #3 closed

[2020-03-18 15:24] clearloop opened #14 "Migrate clap to structopt"
`clap` is well-known but heavy and long time not updating, though it says `clap team` has an upgrading plan this year.

`structopt` is cooler and lighter than `clap`, I didn't know this crate when I wrote `leetcode-cli` otherwise I wouldn't use `clap` XD.

Well, I find that `structopt` depends on `clap` now, not sure if we need this.

reopen if need.

[2020-03-25 03:47] #14 closed

[2020-04-28 19:48] Raees678 opened #18 "Errors when running test and exec commands"
I seem to be getting errors when running test and exec commands for any file. This suddenly started happening today, because yesterday I ran the commands and they worked just fine to test and submit a problem to leetcode.

Today when I run leetcode test I get the error: `error: expected value at line 1 column 1` and when I run leetcode exec I get the error: `error: EOF while parsing a value at lin

[2020-04-28 20:00] clearloop commented on #18
Have you tried backing up the code files at `~/.leetcode/code`, and retry?

[2020-04-28 20:05] clearloop commented on #18
I guess `leetcode` just update their `api`

[code]

[2020-05-03 11:43] clearloop commented on #18
!!!, My friend !!!

This is not a bug, just update your session keys at `~/.leetcode/leetcode.toml`

[2020-05-03 15:00] Raees678 commented on #18
Wow, thanks that makes it work.

[2020-05-03 15:00] #18 closed

[2020-09-27 00:14] Congee opened #19 "`leetcode edit 1` throws error: No such file or directory (os error 2), please try again"
Hi there, I'm having a trouble editing a problem by executing `leetcode edit 1`. After `strace`ing it, a line close to the bottom of the log below seems suspicious. `write(6, "\1", 1)                       = 1`. I'm not sure what that fd 6 is, but it's cuasing an error

`error: No such file or directory (os error 2), please try again`

I'm using the version 0.2.25

can anyone please help?
[code]

[2020-09-27 00:28] Congee commented on #19
I still can manually edit the solution file and run test or submission. 😉

[2020-09-27 03:57] clearloop commented on #19
It seems `leetcode-cli` doesn't have the write access to your filesystem, `0644`.

BTW, Thanks for trying `leetcode-cli`! I'll check it in more detail tonight.

[2020-10-10 10:07] xiaoxiae opened #21 "thread 'main' panicked at 'failed printing to stdout: Broken pipe (os error 32)' when piping"
The program doesn't seem to handle broken pipes well. When doing
[code]
to get the next easy unlocked problem that I haven't solved, the following happens:
[code]

Googling around, [this might be of use](https://willmurphyscode.net/2017/08/30/broken-pipe/).

[2020-10-10 10:22] clearloop commented on #21
This usage is awesome, I haven't implemented pipe when I wrote this repo, we can support this by redirecting the print information to standard [stdout][stdout].

For example, modify this

https://github.com/clearloop/leetcode-cli/blob/0d68c73ba3bee3547c9955c75773756db011ffe6/src/cmds/list.rs#L171-L173

to this

[code]

I'll do this upgrade this tomorrow, nice shot!

[stdout]: https://doc.rust-lang

[2020-11-18 02:33] #21 closed

[2020-12-17 03:29] kobeHub opened #24 "`leetcode t 85` throws error: expected value at line 1 column 1"
Hi, when using the `leetcode t ..` or `leetcode x ..`, an error was thrown:
`error: expected value at line 1 column 1`, the full logs are following:
[code]
The json deserialize error. How can I solve this problem?

[2020-12-17 04:11] clearloop commented on #24
The panic code is here, It seems your network is not good.

https://github.com/clearloop/leetcode-cli/blob/87eb0b9a7c513a06121e549439c5ae688baac960/src/cache/mod.rs#L275

The response of leetcode.com is empty and leetcode-cli get panic while parsing the response JSON

---

I'll optimize the error logs this weekend~ Thanks for using `leetcode-cli` !!!

[2020-12-18 09:22] kobeHub commented on #24
Thanks for your replay.

[2021-01-20 23:38] shmuga commented on #24
Hey, I've faced the same problem and after short debugging seems to fix it. Feel free to double-check the bugfix.

https://github.com/clearloop/leetcode-cli/pull/25

The problem (at least for me) was in test_mode parameter. Leetcode website does not seem to send it

[2021-01-20 23:43] shmuga opened #26 "Test cases files"
Thanks for such a nice cli! I find it very helpful.

This is a feature request that could be useful: a test case files. The way I see it is when someone starts to edit any problem - the test cases file is created. That test file is pre-populated with all examples from the problem and could be extended with some custom test cases.

During the test run of the problem if nothing is specified all test

[2021-01-21 16:10] clearloop commented on #24
Hi @kobeHub, @shmuga , just bumped the version to v0.3.2 https://github.com/clearloop/leetcode-cli/commit/dc19d2af697b6132479357d9b5fc7c4533211183, would you mind testing if this issue still exists in the latest version?

[2021-01-21 18:44] shmuga commented on #24
Works for me, but I would love to see someone else confirms this

![image](https://user-images.githubusercontent.com/4268223/105397103-8d07c800-5c18-11eb-8ee7-68078cb16c91.png)

![image](https://user-images.githubusercontent.com/4268223/105397127-909b4f00-5c18-11eb-8bc6-7bb6cbfa5d25.png)

[2021-03-29 00:44] geofflangenderfer opened #27 "missing field `pick` for key `code` at line 1 column 1"
[code]

side note: are y'all copying the executable to `usr/local/bin` or similar to make it accessible everywhere?

[2021-03-29 03:11] clearloop commented on #27
Hi @geofflangenderfer , it seems that the program can not parse your `~/.leetcode/leetcode.toml`, for how to set config `~/.leetcode/leetcode.toml` you can check [Cookies](https://github.com/clearloop/leetcode-cli#cookies)

If you are installing leetcode-cli with `cargo`, the binary will be installed at `~/.cargo/bin`, feel free renaming it to `/usr/local/bin`.

For making it accessible everywhere

[2021-03-29 16:42] geofflangenderfer commented on #27
It's not creating the example toml

[code]

[2021-03-30 22:54] clearloop commented on #27
[code]

Try this config @geofflangenderfer

[2021-04-02 21:56] Raees678 commented on #24
I seem to be facing this issue again with all my files. Tests were working fine 24 hours ago but seem to be not working again. Can anyone else confirm or is this just happening for me?

[2021-04-05 13:59] clearloop commented on #27
Please re-open this if still have problem

[2021-04-05 13:59] #27 closed

[2021-04-09 02:36] ofey404 opened #28 "Get Password failed: NoPasswordFound"
Hey there! When I use subcommands in `leetcode-cli`, problem like this occurs:

[code]

With `RUST_BACKTRACE=1`:

[code]

My system is fedora 33 workstation, I initially login leetcode with github, and I encounter this problem.

After that, I set leetcode password, logout leetcode, clear all cookies from leetcode, then relogin with my username and password. However, this problem is still there.

T

[2021-04-09 03:16] clearloop commented on #28
Hey @ofey404 , would you mind trying login with [cookies](https://github.com/clearloop/leetcode-cli#cookies), it seems `leetcode-cli` could not read your keychain for reading the sessions of chrome directly.

Here are two ways to get sessions of leetcode.com in leetcode-cli:

1. Read the sessions from chrome directly ( this requires password of your os user account )
2. Fill your session into `~/.

[2021-04-09 03:23] ofey404 commented on #28
Ohhhhh... So there exists a `leetcode.toml` in `.leetcode`, I create a new file and has a typo in it(`leecode.toml`). That's why I've tried modify it, login with session, but it seems not work.

Now everything is fine, thank you for your help! ❤️

[2021-04-24 23:01] frrad opened #29 "feature request: support concurrecy category"
I can't see problems from the concurrency category https://leetcode.com/problemset/concurrency/

editing `leetcode.toml` to include this category in the categories list results in the following error:

[code]

[2021-04-26 03:39] clearloop commented on #29
The problem is https://github.com/clearloop/leetcode-cli/blob/dc19d2af697b6132479357d9b5fc7c4533211183/src/cfg.rs#L102,

We can change `pub categories: [String; 3]` to `pub categories: Vec<String>`,  to fix this problem~

[2021-04-27 03:07] frrad opened #30 "trouble editting a problem"
when I try 1797 I get the following error:

[code]

I tried deleting / updating my cache hoping this would fix it but it seems not to. :/

[2021-04-27 03:17] clearloop commented on #30
QAQ, are the problems except this 1797 can edit?

I'm quite busy these days, it would be nice if you're interested in contributing to this repo the bug is here:

https://github.com/clearloop/leetcode-cli/blob/dc19d2af697b6132479357d9b5fc7c4533211183/src/cache/models.rs#L169

Modify this line to `pub params: Option<Param>` and we will fix this

---

Or I will fix these two issues you mentioned this

[2021-04-27 03:22] frrad commented on #29
I've never touched rust before / don't know how to verify that this even compiles but https://github.com/clearloop/leetcode-cli/pull/31 implements the change you suggested

[2021-04-27 03:31] frrad commented on #30
Hey! Happy to take a stab at fixing these. Especially with your very clear suggestions. Would you mind approving the running of workflows for me? I have this message "First-time contributors need a maintainer to approve running workflows. Learn more." in https://github.com/clearloop/leetcode-cli/pull/31

Since I haven't used rust before I was hoping to just use your CI instead of figuring out how

[2021-04-27 03:56] clearloop commented on #30
Approved, glad to see that~ If you are confused with any code of this repo, feel free to ping me

[2021-04-27 03:59] clearloop commented on #29
After [installing rust](https://www.rust-lang.org/tools/install) on your machine, just run `cargo run` under the directory of this repo, welcome to the rust family, it's the best programming language ;)

[2021-04-28 09:59] #29 closed

[2021-04-28 09:59] #30 closed

[2021-05-09 12:47] destinationunknown opened #33 "Error for `pick`, `edit`, `test`, `exec`"
I get an error when running any of the problem-related subcommands (`pick`, `edit`, `test`, `exec`)

[code]

The other commands (`help`, `data`, `list`, `stat`) all work as expected.

Output with debug flag:

[code]

I am running Ubuntu 20.10 x86_64. Error occurs in both fish and bash shells. `leetcode-cli 0.3.3`

[2021-05-09 16:16] clearloop commented on #33
Thanks for your report~

Would you mind trying `v0.3.2` and check if this problem still exists?

[2021-05-09 16:40] destinationunknown commented on #33
Everything seems to work perfectly on `v0.3.2`

[2021-05-10 03:17] clearloop commented on #33
Would you mind trying `v0.3.4` @destinationunknown ? Just fixed it.

[2021-05-10 07:10] destinationunknown commented on #33
Everything looks to be working.

[2021-05-10 07:10] #33 closed

[2021-05-15 01:43] heeh opened #35 "Cannot read locked problem (premium account)"
Thanks for great work. The program is blazing fast and I like it.
Currently, `leetcode-cli` cannot retrieve the locked problems for premium account.
Is there a solution for this?

[2021-05-15 17:26] clearloop commented on #35
Sorry, I thought the locked problems will be fetched automatically since you login into leetcode.com with a premium account before.

If somebody wants to implement this, ping me if I can help

[2021-05-15 18:52] Raees678 commented on #35
I've created a PR for this. It adds support for premium Leetcode questions (although I'm not sure how it will behave for users who don't have Leetcode premium.

[2021-05-16 01:37] heeh commented on #35
@Raees678 It just worked! Thank you so much.

[2021-05-26 16:25] heeh opened #37 "cannot find type `NoneError` in module `std::option`"
System:
`Ubuntu 20.04 on wsl2`
Issue:
`The program does not compile any more. I guess this has something to do with nightly build.`
` rustc 1.54.0-nightly (ff2c947c0 2021-05-25)`
log:
[code]

[2021-05-26 16:58] heeh commented on #37
I was able to compile the program using the previous nightly version(2021-05-16).
However, it would be great if this program does not depend on the specific nightly version.

[2021-05-26 17:07] clearloop commented on #37
Thanks for ur report @heeh !!, I'll fix this this weekend~

[2021-05-26 17:08] heeh commented on #37
By the way, I think this is the best leetcode cli program in the present.
There are also dependencies.
The README does not explicitly mention this and new users with little experience might be confused.
[code]

[2021-05-26 17:10] clearloop commented on #37
Actually, we can migrate `sqlite3` to `sled`, and we will not need these dependencies anymore~

[2021-05-26 17:19] clearloop commented on #35
Hi @heeh, how do you like a flag like `-l` to show the locked problems for the premium accounts?

[2021-06-01 04:09] clearloop commented on #35
Merged #36.

Use leetcode-cli `v0.3.6`

[2021-06-01 04:09] #35 closed

[2021-06-06 11:46] heeh opened #38 "leetcode pick: wrong constraints"
# Environment
`Windows Terminal Preview`, `Alacrity`

# Steps to reproduce
[code]

# Expected
Constraints:
-2<sup>31</sup> <= num <= 2<sup>31</sup> - 1

# What`s happening

Constraints:
        -20 <= num <= 20 - 1

# Comment
This problem is not just for 405. I have seen several problems that does not render 2<sup>31</sup> correctly.

There are two problems.
1. Wrong number shows up in constraints

[2021-06-06 23:51] heeh commented on #38
If I understand your code correctly,
[pick.rs#L129:13](https://sourcegraph.com/github.com/clearloop/leetcode-cli/-/blob/src/cmds/pick.rs#L129:13) prints out the Question by its id.
Where does the constraint belong to in [struct Question](https://sourcegraph.com/github.com/clearloop/leetcode-cli@8e246ad5e2c2246cec42c4f16e30e6b17729687d/-/blob/src/cache/models.rs#L116:12) ?

[2021-06-07 03:07] heeh commented on #38
I was impatient and fixed it by myself at #39. Let me know if you have any suggestions.

[2021-06-09 17:16] #38 closed

[2021-06-09 23:39] gopricy commented on #37
any update on this bug, I encoutered it as well

[2021-06-10 05:26] clearloop commented on #28
NOTE: Remember to login leetcode.com before we run the command `leetocde` ❤️

Please reopen this issue if someone meet the same issue

[2021-06-10 05:26] #28 closed

[2021-07-12 18:24] corporal9736 commented on #37
I sloved this by using the version in rust-toolchain.
the exact command is
[code]
You need to replace the "nightly-2021-05-16-x86_64-unknown-linux-gnu" by what you see in command "rustup show".
Maybe there are some difference in different versions.

[2021-09-01 01:12] poly000 opened #45 "no function or associated item named `from_str` found for struct `proc_macro::Literal` in the current scope"
no function or associated item named `from_str` found for struct `proc_macro::Literal` in the current scope

toolchain: `nightly-2021-05-16-x86_64-unknown-linux-gnu`

proc-macro2: 1.0.29 https://github.com/dtolnay/proc-macro2/issues/297

should fix #37 for newer toolchain support, or specify the use of proc-macro2 previous version?

[2021-09-01 02:24] poly000 commented on #37
How about use `.ok_or_else(OPTION_PARSER)?`

[2021-09-01 02:36] clearloop commented on #37
This will work for this issue

[2021-09-08 19:29] mqnfred commented on #45
For anybody encountering this issue, I personally solved it by cloning the repository, applying the following diff and then installing off of that:

[code]

[code]

[2021-09-21 04:39] Gongsta commented on #45
Still had this error after trying this out. I'm running Ubuntu on WSL.
[code]

[2021-10-16 21:03] psacawa opened #47 "Build fails"
To reproduce:

[code]

Note that this using the required toolchain  `nightly-2021-05-16` as confirmed with `rustup`.

Output:
[code]

[2021-11-25 09:00] clearloop opened #48 "Use thiserror for replacing NoneError"
related to #37, #45, #47

[2021-11-25 09:01] #19 closed

[2021-11-25 09:02] clearloop commented on #24
guys, please reopen this issue if still have this error

[2021-11-25 09:02] #24 closed

[2021-12-12 09:45] #37 closed

[2021-12-12 09:45] #45 closed

[2021-12-12 09:45] #47 closed

[2021-12-23 05:56] hao-lee opened #52 "Can I input cookie string directly instead of using chrome to login?"
My server doesn't have desktop environment...

[2021-12-23 07:11] clearloop commented on #52
yep exactly, see https://github.com/clearloop/leetcode-cli#cookies

[2021-12-23 11:38] hao-lee commented on #52
Oh sorry. I overlooked this section. Many thanks!

[2021-12-23 11:38] #52 closed

[2022-01-02 01:37] poly000 opened #54 "error while decoding response on linux"
running this:
`leetcode exec 1929`

results:
[`error: error decoding response body: expected value at line 1 column 1, please try again`](https://fars.ee/AOCZ66OHmCY0GtDxtKVsdth1N_UG)

[leetcode.toml](https://fars.ee/ACHQVkBdD6hPAzM6ytiMsMtTvFb4)

version: leetcode-cli 0.3.10(git build)

[2022-01-02 01:45] poly000 commented on #54
It seems that this issue was caused by mail verfication

[2022-01-02 01:45] #54 closed

[2022-01-02 06:11] clearloop commented on #54
you can debug it with `leetcode -d exec 1929`

[2022-01-10 11:19] hao-lee opened #55 "error: expected value at line 1 column 1"
Hello, I encountered a strange problem... Can't figure out what's wrong 😢 ... Thanks.
[code]

[2022-01-10 11:35] hao-lee commented on #55
Solved. The root cause is my cookie is expired. Maybe we can output some possible reasons in this error message to help users to figure out what's wrong.

[2022-01-10 23:51] bulletmark commented on #55
OP, you should re-open this as it is a valid bug. "error: expected value at line 1 column 1" is not a clear message that the users cookie has expired, particularly when it will happen quite frequently.

[2022-01-11 00:38] clearloop commented on #55
this error emits from parsing json response failed, if you run commands with `-d` flag, you can see the detail of the error

btw we definitely should optimize this

[2022-01-11 03:03] hao-lee commented on #55
@bulletmark Yeah. This does make sense.
@clearloop Yes, `-d` definitely shows the failed line, although it doesn't give more information about how to solve the problem. I was inspired by other closed issues. Any exception that can corrupt the json response can lead to this error. Let me re-open this issue 😏

[2022-01-24 03:22] 152334H opened #56 "byte index 129 is not a char boundary; it is inside '\u{200b}'"
[code]
Problem link [here](https://leetcode.com/problems/minimum-deletions-to-make-string-balanced/description/). The \u200b characters appear right before the first closing p tag in the error.

[2022-02-05 14:06] jay1999ke opened #57 "Pick fails to parse 1214 json response."
Error thrown:
[code]

[2022-02-21 18:26] #57 closed

[2022-02-21 18:26] jay1999ke commented on #57
.

[2022-02-21 22:04] bulletmark commented on #57
@jay1999ke why did you close this? Still happens for me.

[2022-02-22 02:08] hao-lee commented on #57
1214 is a premium problem, you can't fetch it unless you upgrade your account.

[2022-02-22 03:07] bulletmark commented on #57
@hao-lee that may be true but it is almost irrelevant to this issue. The error message implies the program is not handling the leetcode response correctly and thus it should be fixed.

We could close this issue then the next new user who comes along and hits this error will likely do exactly what the error message tells him, i.e come here and raise another new bug. Is that what we want?

[2022-02-23 06:54] clearloop opened #60 "Optimize error messages"
@hao-lee that may be true but it is almost irrelevant to this issue. The error message implies the program is not handling the leetcode response correctly and thus it should be fixed.

We could close this issue then the next new user who comes along and hits this error will likely do exactly what the error message tells him, i.e come here and raise another new bug. Is that what we want?

_Original

[2022-04-04 01:16] naturalsurrender opened #61 "leetcode pick throws MASSIVE error message"
I installed this from the AUR. When I try to get some questions, i get this error.
the full error in its glory:
[code]
command: ```leetcode -d pick```
I also logged in to leetcode on chrome
any ideas how to fix?

[2022-04-04 18:21] clearloop commented on #61
hi @naturalsurrender , thx for trying `leetcode-cli`! would you mind trying to fill your cookies into the config file directly? see https://github.com/clearloop/leetcode-cli#cookies

[2022-04-04 23:06] naturalsurrender commented on #61
Update: I fixed it. Took a while to get the tokens and stuff on Firefox, but it's done.

[2022-04-05 05:11] #61 closed

[2022-04-05 09:25] hao-lee commented on #61
For Chrome user I would recommend an extension: EditThisCookie. Finding cookie and token will never be a problem with the help of it.

[2022-04-11 19:34] darzok0914 opened #62 "leetcode edit doesn't do anything"
Hi, I just installed leetcode-cli

the command leetcode pick 1128 works well, however the command leetcode edit doesn't seem to work
`~ > leetcode edit 1128
error: No such file or directory (os error 2), please try again`

[2022-04-11 22:42] bulletmark commented on #62
@darzok0914 this issue would be much clearer if you stated whether the `edit` command fails for *all* problems, or fails only on 1128.

[2022-04-16 17:53] kgfly opened #64 ""leetcode list" output should be sorted."
Observed
Currently, it's not sorted. Etc

        [2224] Minimum Number of Operations to Convert Time                 Easy   (61.81 %)
  🔒    [2214] Minimum Health to Beat Game                                  Medium (58.87 %)
  🔒    [2219] Maximum Sum Score of Array                                   Medium (66.86 %)
  🔒    [2228] Users With Two Purchases Within Seven Days                   Medium

[2022-04-16 18:30] clearloop commented on #64
Hi @kgfly , please try with

[code]

[2022-04-16 18:34] kgfly commented on #64
I notice that "leetcode list -qL" has removed the premium symbol, etc

![image](https://user-images.githubusercontent.com/12282281/163687276-71a75d6b-60d3-471b-88d8-7bbe483fff2b.png)

Is it possible the keep the symbol?

[2022-04-16 18:44] clearloop commented on #64
haha, sry, I misunderstood your issue at last time, thought you were confused with the locked problems lol

do u mean the number of issues? we can sort them at https://github.com/clearloop/leetcode-cli/blob/60a9e88f4a4d643b2f0762714fdc102b29cb77c3/src/cmds/list.rs#L190

[2022-04-17 17:35] #64 closed

[2022-05-12 23:49] SamDc73 opened #65 "/usr/bin/ld: cannot find -ldbus-1"
Trying to install it through cargo, but it's giving me this error message  :
[code]

cargo -V
`cargo 1.60.0`

and I'm running Fedora 35

[2022-05-15 14:23] JasonYangShadow commented on #65
not sure, but for me after installing the prerequisites mentioned, it works
[code]

my cargo version:
[code]

[2022-05-16 02:33] clearloop commented on #65
which os ru working on? please

[code]

if ur working on debian/ubuntu

[2022-05-20 06:55] clearloop commented on #55
https://github.com/clearloop/leetcode-cli/pull/67

[2022-05-20 06:55] #55 closed

[2022-05-20 08:00] #56 closed

[2022-06-01 18:38] lqlee opened #70 "installation error on mac os"
~ > leetcode list
error: missing field `sys` at line 2 column 1, Parse config file failed,
leetcode-cli has just generated a new leetcode.toml at ~/.leetcode/leetcode_
tmp.toml, the current one at ~/.leetcode/leetcode.tomlseems missing some
keys, please compare to the tmp one and add them up : )

~ > ls .leetcode

leetcode.toml

~ > cat .leetcode/leetcode.toml

[code]
 editor = "vim"
 lang = "java

[2022-06-02 05:26] 152334H commented on #70
tmp.toml, the current one at ~/.leetcode/leetcode.tomlseems missing some
keys, please compare to the tmp one and add them up : )

1. delete ~/.leetcode/leetcode.toml
2. run leetcode list
3. edit ~/.leetcode/leetcode.toml to add [code] and [cookies]

[2022-06-03 02:42] 152334H opened #71 "~/.leetcode/code/* does not distinguish between python and python3 files"
To repro:
1. `leetcode e 1 -l python`
2. `leetcode e 1 -l python3`
3. observe that the file opened by step 2 uses leetcode's python2 `codeDefinition` sample

might fix this later idk

[2022-06-03 06:13] lqlee commented on #70
Thanks. those steps work.
better update the installation or update the error message for 'leetcode list'

[2022-06-05 12:27] 152334H opened #72 "non-algorithm problems cause an infinite loop"
[code]

[2022-06-08 06:53] lqlee opened #73 "how can we get the previous submissions? for every problem"
current subcommands: data, edit, exec, list, pick, stat, test, help.
no idea, which subcommand is to retrieve the previous submission?

Thanks,

[2022-06-08 08:29] clearloop commented on #73
Oh we currently don't have this feature, mb you want to try ` leetcode list -qd`

[2022-06-08 08:29] #65 closed

[2022-06-08 08:32] #70 closed

[2022-06-08 17:03] lqlee commented on #73
Thanks, that command can show all solved problems. good to know.

after one submission, and success, how can we reset the problem to re-edit and to re-submit ?
I know, we can edit it and delete the content  in order to re-edit and to re-submit. is there a command to reset/clean it ?

[2022-06-25 06:36] BilyZ98 commented on #73
Listing previous submissions for the problem would be a cool and practical feature,  do you think it's possible to add this feature to this cli tool, I love to implement this feature and submit the pr, how do you think about that @clearloop

[2022-06-25 18:52] NetWilliam opened #74 "Can I require a feature?"
I also use the (`codeforces cli`)[https://github.com/woshiluo/cf-tool], which has a very interesting feature `cf open` would just open the problem page you're working on.
it's implemented by this lib: https://github.com/skratchdot/open-golang which invokes `open` on mac, `start` on windows and `xdg-open` on linux to open a given url on web browser.

I think `leetcode open pid` or `leetcode pick pi

[2022-06-26 06:41] clearloop commented on #73
that would be awesome! we can add a simple cache to record the past submissions

[2022-06-29 12:00] samyak039 opened #75 "`emacsclient` doesn't works."
I am trying to open via `leetcode edit <ID>` command, it is working fine with `vim`, `nvim` & even `emacs` but does not open the file with `emacsclient` it gives error:

[code]

here's my `leetcode.toml`
[code]

Note: `emacsclient` is the command to use emacs in daemon-client mode.

[2022-06-29 13:54] clearloop commented on #75
what about just using `emacsclient`? I'm a emacs user also

[2022-06-29 20:24] samyak039 commented on #75
@clearloop, then this error comes up:
[code]

that's why `-s doom` is important, it solves this error.

I have tried every other options but all them gave the same error, the previous one.

I have tried `-c`, `-nw` & `-nc` along with `-s doom`; but no success.

[2022-06-29 20:27] clearloop commented on #75
hi @samyak039 !, have you run `emacs --daemon` before `emacsclient`?

[2022-06-29 20:28] samyak039 commented on #75
yeah of cource. it's in my xinit file.

[2022-06-29 20:42] clearloop commented on #75
hmmm, my editor config is just `emacsclient`

[code]

and it works fine...the code of using editor is here https://github.com/clearloop/leetcode-cli/blob/2b373c0eee7824d96f13353cbe7ff53828db5815/src/cmds/edit.rs#L102, not sure if this could help

[2022-07-01 06:32] samyak039 commented on #75
maybe I found the issue, it is that your editor command is unable to deal with the options given to it.

I tested it:
- `nvim` working but `nvim -o` not working
- `bat` working but `bat -p` not working
- likewise, your `emacsclient` is working, but mine `emacsclient -s doom` is not

hence the issue is that the rust command is unable to parse the option given in the editor command.

PS. I cannot op

[2022-07-01 06:59] clearloop commented on #75
exactly, and we mb can update the command to sth like

[code]

[2022-07-01 10:04] samyak039 commented on #75
sorry I don't know any rust :)

[2022-07-01 13:04] clearloop commented on #75
I'll fix this on this weekend

[2022-07-03 08:05] wendajiang commented on #72
I solve this issue by
https://github.com/clearloop/leetcode-cli/pull/77/commits/1730bd0bbd2b93681753d79edca5e7e34c9e87b2

As you think is no problem, you can cherry-pick to master branch. @clearloop

[2022-07-11 09:01] #75 closed

[2022-07-11 09:43] eleijonmarck opened #79 "leetcode list -p plan1 filtering not working"
Hey, followed the example from

[code]

[code]

[code]

Still getting all of the problems

[2022-07-11 14:21] clearloop commented on #79
https://github.com/clearloop/leetcode-cli/blob/c6873f0194ba5b8d9d4b3c21b08c0ef61daefde8/Cargo.toml#L50

Hey @eleijonmarck , try reinstall `leetcode-cli` with cargo install leetcode-cli --features pym !

[2022-07-12 01:55] bulletmark opened #80 "Flaws in version 0.3.12"
I have been using `leetcode-cli` and it has been working well. Just installed version 0.3.12 and see immediate issues:

1. Every time I run `leetcode e 1` a new `code` directory is created in whatever directory I was previously in. Previously that directory was created wrt to the `root` setting. If I set the `code` path absolute then it ignores the `~` shortcut for users home directory which `leet

[2022-07-12 03:29] clearloop commented on #80
Thanks for the report! just yanked `v0.3.12`, guess these are from https://github.com/clearloop/leetcode-cli/pull/77

[2022-07-12 03:38] wendajiang commented on #80
#77 maybe I should make this as feature that can be open or close in the config file ?

[2022-07-12 03:40] wendajiang commented on #80
I will test in `py` environment in this weekend and try to fix this issue.

[2022-07-12 03:42] bulletmark commented on #80
@wendajiang step 1 is to document in the README what that means. Also, those marker lines are perhaps a good idea (I sometimes want to include code for local testing but not for submission) but at least add those marker lines with a leading comment appropriate to the language (i.e. Python in my example).

[2022-07-12 03:50] bulletmark commented on #80
Here's some more things to fix if you guys are keen. (Rewrite it in Python and I will submit PRs! ;) )

Error messages are ungraceful. E.g. if I run on a new system I get:
[code]
Can't this (and other error messages) be made nicer? E.g. In the above case `leetcode` has created a new directory and toml file. Best it should say that, and also whenever `csrf` and `session` keys are empty then nicely

[2022-07-12 03:58] wendajiang commented on #80
The configuration file location is hard code in the code currently, and vscode plugin use the path  `~/.config/leetcode` if I'm not misremember, so maybe `~/.leetcode` not introduce the conflict.

And the code path in the newest config file should be absolute dir, as I do not want save the code file in the root dir (the cache file), and the test file path is same as code path. FYI

[2022-07-12 04:05] bulletmark commented on #80
Well then perhaps the dir should be `leetcode-cli`. Still best to put the config and cache files in the correct places. Placing directly under home dir is legacy and not expected for modern software.

That breaks compatibility for existing users because just setting the code value to `code` used to work. It is better to be relative anyhow - why make the user specify the same root dir twice in his

[2022-07-12 04:18] bulletmark commented on #80
Actually just realised what you mean about cache file. The `code` dir is redundant if you move the `Problems` file to it's proper location under `~/.cache/leetcode/` because there are no other files or dirs. Then just make the following defaults.

File: `~/.config/leetcode.toml`:

    [storage]
    code = "~/leetcode"

If you think user's really may want to move their cache then add default `cache

[2022-07-12 04:22] bulletmark commented on #80
Just realized there may be a scripts dir. So perhaps:
[code]

[2022-07-12 04:42] wendajiang commented on #80
Yeah, to me, it's ok, this format can be backward compatibility.

[2022-07-12 05:25] bulletmark commented on #80
Another bug you could fix: It seems you have added a `-t` option to write a test file. I agree that the test file should not be written automatically as before, because users often don't need it at all. Assuming you fix the current bug (that an empty file gets written anyhow, even if `-t` is not specified), then you should also fix the issue that if a user has an existing solution file then `-t` i

[2022-07-12 05:47] eleijonmarck commented on #79
```'Error: pyo3 requires a nightly or dev version of Rust.',```

[2022-07-12 06:51] clearloop commented on #79
sry

[code]

this feature requires nightly toolchain

[2022-07-12 11:12] samyak039 commented on #75
thanks @clearloop :)

[2022-07-12 11:49] clearloop commented on #75
This update haven't apply to the latest version yet since there are some bugs in `0.3.12`

[2022-07-14 13:23] eleijonmarck commented on #79
[code]

on m1 unfortunately so it does not work :(

even following:
https://www.reddit.com/r/rust/comments/lleh8v/having_trouble_compiling_on_apple_m1/

[code]

[2022-07-14 14:27] clearloop commented on #79
I'll try to upgrade the deps of that feature and see if `pyo3` have stable feature releases

[2022-07-28 13:28] zshchun opened #82 "Failed to parse json data"
I met this message when pick a problem.

[code]

[2022-07-28 14:47] zshchun commented on #82
Thanks!

[2022-07-28 15:44] Adam-Teng opened #83 "leetcode test error: invalid type: sequence, expected a string at line 1 column 162"
Hello, I encountered a strange problem.
[code]
I have logged in to leetcode.com in Microsoft Edge and the exec command works well, and I have checked #55 and #67.

[2022-07-30 08:42] anstadnik opened #85 "Cannot get Chrome Safe Storage password"
The following code fails with an error `KeyringError::NoPasswordFound`.
https://github.com/clearloop/leetcode-cli/blob/c6873f0194ba5b8d9d4b3c21b08c0ef61daefde8/src/plugins/chrome.rs#L76-L77
If I open `seahorse`, I see the relevant item (so the attribute name is correct), but I couldn't find info about the username assigned to that record.
![image](https://user-images.githubusercontent.com/40110937

[2022-07-31 23:40] sooriravindra opened #86 "Tags table in the database file is empty"
I was trying to get the plan1.py script to filter the questions. After fixing a couple of things to get the python script to work, I noticed that the the stags argument to the python script is empty.

I then proceeded to connect sqlite3 to the database file at `~/.leetcode/Problems`. When selecting entries from the table 'tags' there seemed to be no entries. My assumption is this is the tag such a

[2022-08-08 12:54] jay1999ke commented on #83
When will this fix be released?

[2022-08-15 09:49] nasnoisaac opened #89 "Test result failed to parse"
I have tried some problems. All of them fail when I test.

### Log
[code]

[2022-08-24 07:05] kgfly opened #91 "Feature request: add questions' link to the output of pick."
**Currently, "leetcode  pick 1"'s output is:**

[1] Two Sum is on the run...

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.
...

**Expected:**

[1] Two Sum is on the run...

[2022-08-25 01:51] theidexisted opened #92 "Bug report: wrong code template for 122.best-time-to-buy-and-sell-stock-ii.cpp"
To reproduce:

[code]

We get the source file name: _~/.leetcode/code/122.best-time-to-buy-and-sell-stock-ii.cpp_

But with wrong content:

[code]

Find with version: leetcode-cli 0.3.11

[2022-08-25 01:57] theidexisted commented on #92
I have checked the cached database file and see that the code template stored is wrong in the database.

So maybe:
* Get wrong response from leetcode site
* Their are bugs in the cache generation code

[2022-09-02 02:11] wendajiang commented on #92
Can you try run this command `leetcode data -u` ? And re-run `leetcode e 122`

[2022-09-02 02:14] wendajiang opened #93 "leetcode test 5: panic"
[code]

and the 5 source file
[code]

[2022-09-02 03:27] wendajiang commented on #93
Reproduct:
wrong and test, will cause this error.

[2022-09-02 06:05] theidexisted commented on #92
I have tried but still, get the same result. Thanks!

[2022-09-02 07:12] wendajiang commented on #92
Remove the cache file and re-generate the cache is ok? As I can not reproduce this problem.

[2022-09-08 01:42] theidexisted commented on #92
Maybe you are using the dev branch(Not the same one as I used:0.3.11)

[2022-09-08 08:51] wendajiang commented on #92
I use the master branch and build target. Indeed it is not the github release version.

[2022-09-09 02:01] #92 closed

[2022-09-12 06:34] #91 closed

[2022-09-12 06:38] kgfly opened #94 "Feature request: please add a subcommand: link"
SUBCOMMANDS:
    link    Return the http link of a problem .

"leetcode link 1"'s output is:

https://leetcode.com/problems/two-sum/

Reason: many people like me save the output to a file for later review. Adding the link will make it easier to jump back to the web.

Thanks.

[2022-09-18 11:18] anstadnik commented on #93
It seems to be fixed in [this fork](https://github.com/manank20/leetcode-cli).

[2022-09-18 14:53] wendajiang commented on #93
Can you open a PR? It seems this commit https://github.com/clearloop/leetcode-cli/commit/090773dc8a2d6f99582fbda0b40f934a8089399e fix this problem

[2022-09-19 07:15] anstadnik commented on #93
Sure, but it's not my fork though :)

[2022-09-19 07:21] anstadnik commented on #93
I thought that I could open a pr from that repo, but it's obviously not the case.
I can just copy those changes in my fork and create a pr, but IMO it'd be more fair if the original author would be credited.
Hey @manank20, can you please create a pr with your changes? The issues section was disabled in your fork, unfortunately, couldn't write to you there.

If the author won't then I can do it, le

[2022-09-19 08:42] manank20 commented on #93
I created a pr, pardon me if i did something wrong.

[2022-09-20 21:35] Congee opened #96 "Feature Request: Retrieve last submitted code"
It would be nice if we can see (may or may not overwrite) a blank solution that `leetcode edit xxx` fetches. :D
<img width="225" alt="image" src="https://user-images.githubusercontent.com/2083950/191368797-3f284549-a533-4e10-badf-24a0322c3f8d.png">

[2022-09-20 21:35] Congee commented on #96
Note to myself, I might be interested in submitting a PR. 😁

[2022-09-28 01:58] bcatalfo opened #97 "Code executes but doesn't test"
Here is my console
[code]

[2022-10-16 08:45] LegendaryPredz opened #99 "Error decoding response body"
[code]

[2022-10-17 15:11] kgfly opened #100 "Is it possible to skip chrome cookie reading when chrome is not installed?"
On the system, where this is no GUI, such as Ubuntu server or Windows subsystem for Linux, there is no chrome. leetcode_cli hit this error:

[INFO  leetcode_cli::cfg] Generate root dir at "/home/z/.leetcode".
thread 'main' panicked at 'Error connecting to "/home/z/.config/google-chrome/Default/Cookies"', /home/z/.cargo/registry/src/github.com-1ecc6299db9ec823/leetcode-cli-0.3.11/src/cache/mod.rs:1

[2022-11-12 08:37] anstadnik commented on #82
Hi, I got the same issue. Is there any progress on this?

[2022-11-26 18:56] tbeckenhauer commented on #97
Same.